config = {

  freenode: {
    host: 'irc.freenode.net',
    port: 6667,

    user: {
      nick: 'ima_luser',
      user: 'ima_luser',
      real: 'ima_luser',
      pass: ''
    },

    chans: {
        bottest1234: '', // set password to '' if there is no password
    }
  },

  efnet: {
    host: 'irc.efnet.org',
    port: 6667,

    user: {
      nick: 'ima_luser',
      user: 'ima_luser',
      real: 'ima_luser',
      pass: ''
    },

    chans: {
        bottest1234: '', // set password to '' if there is no password
    }
  },
};

module.exports = config;
